*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: lightgray;
}

header {
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px;
}

main {
    background-color: white;
    width: 500px;
    height: 500px;
    border-radius: 40px;
}
.conteudo {
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
}
.conteudo p {
    font-size: 23px;

}
form p {
    padding: 10px;
}

img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    box-shadow: 0px 0px 10px 1px blue
}